:root {
  --primary: #7572ba;
  --bg: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background: #010101;
  height: 2250px;
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: #fff;
}
nav .wrapper .logo a span {
  color: var(--primary);
}

.home {
  float: right;
}
nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #010101;
  z-index: 1;
  border-bottom: 1px solid #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: var(--primary);
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  background: var(--primary);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.5rem;
}

nav ul li a:hover {
  text-decoration: underline;
  background: #fc5185;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 170px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  text-align: center;
}
.kolom p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.6;
  color: #fff;
}

.kolom h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #fff;
  width: 100%;
  line-height: 50px;
  text-align: center;
}

a.tbl-pink {
  background: #fc5185;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-pink:hover {
  background: #3f72af;
  text-decoration: underline;
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  max-height: 700px;
  margin-right: 50px;
}

.home-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
#sekilas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #d3d3d3;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 50px;
}

.kolom {
  flex: 1;
  margin-top: 20px;
  padding-right: 20px;
}
#sekilas .kolom {
  text-align: center;
}
#sekilas .kolom h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: rgb(255, 255, 255);
  border-top: 2px solid #9048ff;
  border-bottom: 2px solid #9048ff;
  padding: 0.5rem 1rem;
  display: inline-block;
  max-width: 50%;
  margin: 0 auto;
}

#sekilas .kolom p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.sekilas-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.sekilas-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

#Simulasi h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}
#container {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px 20px 1px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #5d5afe;
  margin-top: 20px;
}
#container h2 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #5d5afe;
}
#calculator {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.slider {
  margin: 0 20px;
}

.slider label {
  font-size: 16px;
  font-weight: bold;
  color: #5d5afe;
  text-align: center;
}

.slider input[type="range"] {
  width: 150px;
  margin: 10px 0;
  background-color: #444444;
}

.conductor-container {
  position: relative;
  background-color: #2c2c2c;
  border: 2px solid #5d5afe;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.conductor {
  position: relative;
  background-color: #ff5d93;
  transition: width 0.3s ease, height 0.3s ease;
  border-radius: 10px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #5d5afe;
  border-radius: 50%;
  position: absolute;
}

.values {
  font-size: 18px;
  margin-top: 20px;
  color: #c5c5f2;
}

.resistance {
  font-size: 24px;
  color: #5d5afe;
}

#formula {
  font-size: 24px;
  margin: 20px 0;
  color: #c5c5f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formula span {
  font-weight: bold;
  margin: 0 10px;
  color: #5d5afe;
}

#formula .variable {
  color: #5d5afe;
}
#formula .operation {
  color: #5d5afe;
}

#conductor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}
button {
  background-color: var(--primary);
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4b4eff;
}

.app {
  background: #fff;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.app h1 {
  font-size: 1.8rem;
  color: var(--primary);
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  text-align: center;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 1.2rem;
  color: var(--text-dark);
  font-weight: 600;
}

.btn1 {
  background: #fff;
  color: var(--text-dark);
  font-weight: 500;
  width: 100%;
  border: 2px solid var(--primary); /* Added border to quiz answers */
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn1:hover:not([disabled]) {
  background: var(--text-dark);
  color: #fff;
}

.btn1:disabled {
  cursor: not-allowed;
}

#next-btn {
  background-color: var(--primary);
  color: #fff;
  font-weight: 500;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0;
  cursor: pointer;
  display: none;
  border-radius: 8px;
}

.correct {
  background: #9aeabc !important;
}

.incorrect {
  background: #ff9393 !important;
}
